<% include head %>
<h2><%= headline %></h2>
<ol class="items">
  <% for(var i = 0; i < items.length; i++) {%>
    <li class="item">
      <h3><%= items[i].title %></h3>
      <p>
        <a href="<%= items[i].imageLink %>"><img src="<%= items[i].imageLink %>"></a>
        <br>
        <a class="image-source" href="<%= items[i].sourceLink %>"><%= items[i].sourceName %></a>
      </p>
      <p><a class="author" href="<%= items[i].textLink %>"><%= items[i].author %></a> <%= items[i].text %></p>
    </li>
  <% } %>
</ol>
<% include foot %>